@model ProjectImageCreateViewModel
@{
    ViewBag.Title = "工作管理";
    var photoPath = "~/CapabilityMatrix.jpg";
}
<div class="row justify-content-center m-0">
    <div class="card">
        <div class="card-body text-center">
            <img class="card-img-top" src="@photoPath" asp-append-version="true" />
        </div>

        @using Microsoft.AspNetCore.Identity
        @inject SignInManager<IdentityUser> SignInManager
        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Asst")))
        {
            <div class="card-footer text-center">
                <form enctype="multipart/form-data" asp-controller="home" asp-action="CapabilityMatrix" method="post" class="mt-3">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="File" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-8">
                            <div class="custom-file">
                                <input asp-for="File" class="form-control custom-file-input">
                                <label class="custom-file-label">请选择文件....</label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary">上传</button>
                        </div>
                    </div>

                </form>
            </div>

        }

    </div>
</div>

@section Scripts{

    <script type="text/javascript">
            $(document).ready(function () {

                $('.custom-file-input').on("change", function () {

                    console.log($(this));
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next(".custom-file-label").html(fileName);

                });


            });




    </script>
}
