<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment include="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute">

    </environment>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @using Microsoft.AspNetCore.Identity
        @inject SignInManager<IdentityUser> SignInManager
        <nav class="navbar navbar-expand-sm  bg-dark navbar-dark ">
            <a class="navbar-brand" asp-controller="home" asp-action="index">
                <img src="~/images/logoLDR.png" width="90" height="30" alt="Alternate Text" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>

            </button>
            <div id="collapsibleNavbar" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="home" asp-action="Index">项目列表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="home" asp-action="Create">添加项目</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {



                        <li class="nav-item dropdown">

                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">管理</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                <a class="dropdown-item" asp-controller="Admin" asp-action="ListRoles">角色列表</a>
                                <a class="dropdown-item" asp-controller="Admin" asp-action="ListUsers">用户列表</a>
                            </div>


                        </li>

                    }
                </ul>

                <ul class="navbar-nav ml-auto">
                    @if (SignInManager.IsSignedIn(User))
                    {

                        <li class="nav-item">
                            <form asp-controller="account" asp-action="logout" method="post">
                                <button type="submit" style="width:auto" class="nav-link btn btn-link py-0">注销 @User.Identity.Name</button>
                            </form>
                        </li>

                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="account" asp-action="Register"> 注册</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="account" asp-action="Login"> 登录</a>
                        </li>
                    }



                </ul>
            </div>

        </nav>

        @RenderBody()
        <footer class="modal-footer bg-light">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">网站备案号:</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="http://beian.miit.gov.cn">苏ICP备2020063360号-1</a>
                    </li>
                </ul>
            </div>
        </footer>
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="http://www.jsleadercollege.cn/"> jsleadercollege.cn</a>
        </div>

    </div>

    <script src="~/lib/jquery/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
